* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

.board {
    height: 84vh;
}

.board .column {
    border-radius: 10px;
    transition: all 0.7s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    overflow-y: auto;
    padding: 0 8px;
}

.board .column.hover {
    border: 1px solid black !important;
    scale: 1.05;
}

.board .column .task {
    margin-top: 15px;
    padding: 5px;
    background-color: whitesmoke;
    cursor: grab;
    display: flex;
    flex-direction: column;
    width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.board .column .task:active {
    cursor: grabbing;
}

.board .column .task .task-title,
.task-desc {
    margin: 0;
}

.board .column .task button {
    align-self: flex-end;
}

.board .column .heading {
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 10;
    padding: 0.5rem 0;
    border-bottom: 1px solid #ddd;
    height: 3rem;
    /* explicit height */
    margin: 0;
    line-height: 3rem;
}